body {
    background-color: deepskyblue;
    color: blue;
}
#hi {
    background-color: red;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.world {
    background-color: orange;
    color: purple;
    border: 5px dotted green;
    margin: 25px;
    padding: 25px;
}
img {
    width: 25%;
    height: 25%;
}
/*Attribute based selector*/
a[href *= "https://frhsd.com"] {
    color: limegreen;
}
/*Direct child selector*/
ul>li:first-child {
    color: fuchsia;
}
a:visited {
    color: beige;
}
li:hover {
    background-color: navy;
}
/*Nested selector*/
div {
    li {
        font-family: Calibri;
        font-size: medium;
    }
}
/*Next sibling selector*/
li+li {
    color: brown;
}
#o {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#giants {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    gap: 12px;
    img {
        grid-column: span 3;
        grid-row: span 3;
        height: 100%;
        width: 100%;
    }
    p {
        grid-column: span 2;
        grid-row: span 2;
    }
    a {
        grid-column: span 1;
        grid-row: span 1;
    }
}